@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

* {
  box-sizing: border-box;
}
html {
  background-color: var(--very-pale-blue);
}
:root {
  --very-pale-blue: hsl(225, 100%, 98%);
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --box-shadow: hsl(225, 23%, 79%);
}

body {
  font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin-block: 10vh;
}
@media screen and (max-width: 650px) {
  body {
    margin-block: 4vh;
  }
}
@media screen and (max-width: 480px) {
  body {
    margin-block: 2vh;
  }
}
.background-img {
  background-image: url(../images/pattern-background-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100vw 40vh;
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  top: 0;
}
@media screen and (max-width: 480px) {
  .background-img {background-image: url(../images/pattern-background-mobile.svg);
  }
}
@media screen and (max-width: 380px) {
  .background-img {background-image: url(../images/pattern-background-mobile.svg);
  }
}
.header {
  color: var(--dark-blue);
  margin-top: 3rem;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .header {
    font-size: 0.8rem;
  }
}
span {
  color: var(--desaturated-blue);
  display: block;
}
.descr {
  color: var(--desaturated-blue);
}
@media screen and (max-width: 480px) {
  .descr {
    font-size: 0.9rem;
  }
}
.plan-layout {
  background-color: white;
  width: 100%;
  height: 700px;
  border-radius: 20px;
  box-shadow: 0px 15px 40px var(--box-shadow);
}
@media screen and (max-width: 650px) {
  .plan-layout {
    width: 80%;
    margin-inline: auto;
    height: 80%;
  }
}
@media screen and (max-width: 480px) {
  .plan-layout {
    width: 90%;
    height: 100%;
  }
}
.img-hero {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.plan-box {
  background-color: var(--very-pale-blue);
  text-align: center;
  border-radius: 15px;
  width: 80%;
  height: 12%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
@media screen and (max-width: 480px) {
  .plan-box {
    width: 80%;
  }
}
.plan-flex {
  display: flex;
  align-items: center;
}
.pricing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12em;
}
.music-icon {
  padding-left: 0.5rem;
  padding-right: 1rem;
}
.an-plan {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1rem;
}
@media screen and (max-width: 785px) {
  .pricing {
    width: 12em;
  }
}
.price {
  font-size: 1rem;
}
@media screen and (max-width: 650px) {
  .pricing {
    width: 8rem;
  }
}
@media screen and (max-width: 480px) {
  .an-plan {
    font-size: 0.9rem;
  }
  .price {
    font-size: 0.9rem;
  }
  .pricing {
    width: 10rem;
  }
}
@media screen and (max-width: 460px) {
  .pricing {
    width: 8rem;
  }
}
@media screen and (max-width: 400px) {
  .pricing {
    width: 7rem;
  }
}
@media screen and (max-width: 370px) {
  .pricing {
    width: 5rem;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
}
.btns {
  border: none;
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
}
.btn-change {
  background-color: transparent;
  transition: 0.2s ease-in-out;
  color: var(--bright-blue);
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}
.btn-change:hover, 
.btn-proceed:hover {
  opacity: 0.7;
  text-decoration: none;
}
.btn-proceed {
  background-color: var(--bright-blue);
  text-decoration: none;
  font-size: 1rem;
  color: var(--very-pale-blue);
  border-radius: 10px;
  height: 3rem;
  width: 80%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 15px 15px var(--box-shadow);
  transition: 0.2s ease-in-out;
}
.btn-cancel {
  background-color: transparent;
  text-decoration: none;
  font-size: 1rem;
  color: var(--desaturated-blue);
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s ease-in-out;
}
.btn-cancel:hover {
  color: var(--dark-blue);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); } 
